server:
  port: 8888

spring:
  application:
    name: config-service
  profiles:
    active: native
  cloud:
    config:
      server:
        native:
          search-locations: file:./config-repo, file:../config-repo, classpath:/config-repo
        git:
          uri: https://github.com/malkooleh/pizza-flow-config
          default-label: main
          # For production, we would switch profile to 'git'

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
